nav{
    background: rgb(168, 153, 202,.5);
    width: max-content;
    padding: 1rem 1.5rem;
    z-index: 10;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    display: flex;
    gap: 1rem;
    border-radius: 3rem;
    backdrop-filter: blur(50px);
}
nav a{
    font-size: 1.25rem;
    color: var(--body-color);
    padding: 1rem;
    border-radius: 50%;
    display: flex;
}
nav a.active{
    background: var(--first-alt-color);
}